@import '../../../../styles/partials/devices';

.shortner__section {
  background-color: var(--app-color-bg-light);
  min-height: 30vw;
  display: flex;
  justify-content: center;
  padding: 2rem calc((100vw - 80%) / 2);
  margin-top: 4rem;
}