@import '../../../../styles/partials/devices';

.shortner__section {
  background-color: var(--app-color-bg-light);
  min-height: 30vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem calc((100vw - 80%) / 2);
  margin-top: 5rem;

  &_stats {
    padding: 3em 0;
    .stats__texts {
      position: relative;
      text-align: center;
      max-width: 400px;
      margin: 5rem 0;
      // background-color: pink;
      left: 50%;
      transform: translate(-50%, -50%);
      gap: 2em;
      &_title {

      }
      &_subtitle {
        padding-top: 1.75rem;
        color: var(--app-color-neutral-light);
        line-height: 2rem;
      }
    }
    .stats__cards {
    }
  }
}