$screen-mobile-sm: 320px;
$screen-mobile-md: 375px;
$screen-mobile-lg: 425px;
$screen-tablet: 768px;
$screen-desktop-md: 1024px;
$screen-desktop-lg: 1440px;

// Mobile devices
@mixin mobile-sm {
  @media (max-width: #{$screen-mobile-sm}) {
    @content
  }
};
@mixin mobile-md {
  @media (max-width: #{$screen-mobile-md}) {
    @content
  }
};
@mixin mobile-lg {
  @media (max-width: #{$screen-mobile-lg}) {
    @content
  }
};

// Tablets
@mixin tablet {
  @media (max-width: #{$screen-tablet}) {
    @content
  }
};

// Desktops
@mixin desktop-md {
  @media (max-width: #{$screen-desktop-md}) {
    @content
  }
};
@mixin desktop-lg {
  @media (max-width: #{$screen-desktop-lg}) {
    @content
  }
};
