:root {
  // Primary Colors
  --app-color-primary-light: hsl(180, 66%, 49%);
  --app-color-primary-dark: hsl(257, 27%, 26%);

  // Secondary Colors
  --app-color-secondary: hsl(0, 87%, 67%);

  // Netural Colors
  --app-color-neutral-light: hsl(0, 0%, 75%);
  --app-color-neutral-white: hsl(230, 25, 95);
  --app-color-neutral-gray: hsl(257, 7%, 63%);
  --app-color-neutral-dark: hsl(255, 11%, 22%);
  --app-color-neutral-darker: hsl(260, 8%, 14%);
}

$cyan: hsl(180, 66%, 49%);
$darkViolet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayishViolet: hsl(257, 7%, 63%);
$veryDarkBlue: hsl(255, 11%, 22%);
$veryDarkViolet: hsl(260, 8%, 14%);
