@import "../../styles/partials/devices";

.footer {
  display: grid;
  grid-template-columns: 2fr 2fr auto;
  // height: 60px;
  background-color: var(--app-color-neutral-darker);
  padding: 3rem calc((100vw - 80%) / 2);
  &__logo {
    svg>path {
      fill: white;
    }
  }
  &__links {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    ul {
      color: var(--app-color-neutral-light);
      
      > li {
        margin-top: 1em;
      }

      > li:nth-child(1) {
        color: white;
        padding: 1em 0;
        font-weight: 700;
      }

      > li:nth-child(n+2) {
        cursor: pointer;
        &:hover {
          color: var(--app-color-primary-light);
        }
      } 
    }
  }
  &__icons {
    ul {
      gap: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2em;
      
      > li {
        cursor: pointer;
      }

      >li>svg>path:hover {
        fill: var(--app-color-primary-light);
      }
    }
  }
}

@include tablet {
  .footer {
    display: flex;
    flex-direction: column;
    // height: 60px;
    background-color: var(--app-color-neutral-darker);
    padding: 3rem calc((100vw - 80%) / 2);
    &__logo {
      display: flex;
      justify-content: center;
      color: white;
    }
    &__links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      text-align: center;
    }
    &__icons {
      ul {
        gap: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
